@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  margin: 40px;
  display: flex;
  gap: 48px;
}

.editor {
  flex: 0 0 50%;
  min-height: 100vh;
}

.preview {
  align-self: flex-start;
}

.preview h1 {
  @apply text-3xl font-bold mb-4;
}

.preview p {
  @apply my-4;
}

.preview ul {
  @apply list-disc;
}
